// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-family: 'Play', verdana, arial, helvetica, sans-serif;
}

.title {
	text-align: center;
}

.subtitle {
	padding-bottom: 50px;
	text-align: center;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.sidebar {
	padding-left: 120px;
}